.cont1 {
    display: flex;
    background-color: darkgrey;
    height: 700px;
    width: 600px;
    position: relative;
    justify-self: center;
    flex-direction: column;
}
#pole {
    top: 20px;
    background-color: grey;
    width: 500px;
    height: 100px;
    position: relative;
    left: 50px;
}
#seven {
    background-color: whitesmoke;
    width: 100px;
    height: 100px;
    position: relative;
    align-self: center;
    top: 50px;
    right: 200px;
}
#eight {
    background-color: whitesmoke;
    width: 100px;
    height: 100px;
    position: relative;
    align-self: center;
    bottom: 50px;
    right: 65px;}
#nine {
    background-color: whitesmoke;
    width: 100px;
    height: 100px;
    position: relative;
    align-self: center;
    bottom: 150px;
    right: -70px;
}
#plus {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    position: relative;
    align-self: center;
    bottom: 250px;
    right: -205px;
}
#four {
    background-color: whitesmoke;
    width: 100px;
    height: 100px;
    position: absolute;
    align-self: center;
    top: 275px;
    right: 450px;
}
#five {
    background-color: whitesmoke;
    width: 100px;
    height: 100px;
    position: absolute;
    align-self: center;
    top: 275px;
    right: 315px;
}
#six {
    background-color: whitesmoke;
    width: 100px;
    height: 100px;
    position: absolute;
    align-self: center;
    top: 275px;
    right: 180px;
}
#minus {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    position: absolute;
    align-self: center;
    top: 275px;
    right: 45px;
}
#one {
    background-color: whitesmoke;
    width: 100px;
    height: 100px;
    position: absolute;
    align-self: center;
    top: 400px;
    right: 450px;
}

