body {
    position: fixed;
    height: 2000px;
    padding-top:80px ;
}
.div {
    background-color: red;
    width: 200px;
    height: 50px;
    color: black;

}

#divb {
    background: orange;
    position: relative;
    left: 220px;
    bottom: 180px;
    display: inline-block;
}
#divc {
    background: lightgreen;
    position: relative;
    left: 440px;
    bottom: 360px

}
#divd {
    background: lightskyblue;
    position: relative;
    left: 660px;
    bottom: 540px;
}
#divaa {
    width: 200px;
    height: 90px;
    background: darkred;
    color: white;
}
    #divaaan {
        width: 200px;
        height: 20px;
        background: red;
        color: white;
        margin-bottom: 20px;
}
#divbb {
    width: 200px;
    height: 90px;
    background: saddlebrown;
    color: white;
    position: relative;
    left: 220px;
    bottom: 180px
}
#divbbb {
    width: 200px;
    height: 20px;
    background: orange;
    color: white;
    margin-bottom: 20px;
    position: relative;
    left: 220px;
    bottom: 180px}
#divcc {
    width: 200px;
    height: 90px;
    background: darkgreen;
    color: white;
    position: relative;
    left: 440px;
    bottom: 360px
}
#divccc {
    width: 200px;
    height: 20px;
    background: lightgreen;
    color: white;
    margin-bottom: 20px;
    position: relative;
    left: 440px;
    bottom: 360px
}
#divdd {
    width: 200px;
    height: 90px;
    background: darkcyan;
    color: white;
    position: relative;
    left: 660px;
    bottom: 540px;
}
#divddd {
    width: 200px;
    height: 20px;
    background: lightskyblue;
    color: white;
    margin-bottom: 20px;
    position: relative;
    left: 660px;
    bottom: 540px;
}