body {
    position: relative;
    height: 2000px;
    padding-top:80px ;
}
.divan {
    background: dodgerblue;
    height: 700px;
    width: 300px;
    display: inline-block;
    margin: 10px;
    position: relative;
    left: 25%;
}
 #diva {
color: white;
 }
